<p>
    <a style="width: 14em;" href="http://codecanyon.net/user/ifeelweb" target="_blank" class="premiumad-button">
        <span class="title">Go Premium!</span>
    </a>
</p>

<p>Features of the Premium version:</p>

<a href="http://codecanyon.net/user/ifeelweb" target="_blank" class="ifw-external-link">More information</a> | <a href="{{ plugin_homepage }}" target="_blank" class="ifw-external-link">Plugin Homepage</a>