[class*='icon_']:before {
    display: inline-block;
    font-family: 'Traverse';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.section_campaign .section__container {
    padding-left: 7.67vw;
    padding-right: 8.65vw;
    display: flex; }

.image__block {
    width: 18%;
    margin-top: 1.87vw; }


.image {
    width: 100%; }


.section__text {
    width: 79%;
    margin-left: 3%; }


.section__header {
    font-size: 0.73vw;
    color: #515365;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.99vw; }

.inputs {
    display: flex; }

.inputs .input__block {
    margin-left: 1.14vw;
    width: 18.64vw; }

.inputs .input__block:first-child {
    margin-left: 0; }


.section__header_main {
    padding-left: 1.25vw;
    padding-bottom: 1.04vw;
    width: 100%;
    border-bottom: 1px solid #e6ecf5;
    margin-bottom: 0.88vw; }

.section__text__main {
    margin-left: 1.25vw; }

.button_green {
    background-color: #08ddc1; }


.last-block {
    display: flex; }


.last-block__right {
    margin-left: 3.64vw; }

.section_campaigns .section__container {
    padding-top: 1.19vw;
    padding-bottom: 1.35vw; }

.table__header {
    padding-bottom: 1.04vw; }


.table__head {
    border-bottom: 2px solid #ebf0f7;
    text-align: left; }


.table__row {
    display: flex; }


.table__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    color: #515365;
    font-weight: normal; }
.table__header .table__text{
    text-transform: uppercase;
}

.table__header:first-child {
    width: 10.6vw;
    margin-left: 1.8vw; }


.table__header:nth-child(2) {
    width: 8.33vw;
    margin-left: 7.5vw; }


.table__header:nth-child(3) {
    width: 12.23vw;
    margin-left: 6.5vw; }


.table__header:nth-child(4) {
    width: 11.71vw;
    margin-left: 3.1vw; }


.table__header:last-child {
    width: 9.37vw;
    margin-left: 3.1vw; }


.table__data {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.83vw;
    color: #515365;
    display: flex;
    align-items: center; }

.table__data:before {
    display: inline-block;
    font-family: 'Traverse';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #c3c6d9; }

.table__data:first-child {
    margin-left: 1.8vw;
    width: 10.6vw; }

.table__data:first-child .table__text {
    color: #515365; }

.table__data:nth-child(2) {
    width: 8.33vw;
    margin-left: 7.5vw; }

.table__data:nth-child(2):before {
    content: '\0057';
    font-size: 1.4vw; }

.table__data:nth-child(2) .table__text {
    margin-left: 0.52vw; }

.table__data:nth-child(3) {
    width: 12.23vw;
    margin-left: 6.5vw; }

.table__data:nth-child(3):before {
    content: '\0061';
    font-size: 1.4vw; }

.table__data:nth-child(3) .table__text {
    margin-left: 0.52vw; }

.table__data:nth-child(4) {
    width: 11.71vw;
    margin-left: 3.1vw; }

.table__data:nth-child(5) {
    width: 9.37vw;
    margin-left: 3.1vw; }

.table__data:last-child {
    margin-left: 3.6vw; }


.table__row_body {
    padding-top: 1.82vw;
    padding-bottom: 1.82vw;
    align-items: center;
    border-bottom: 1px solid #e6ecf5; }
.section__pitches .section__persons{
    display: none;
}

.table__row_body:last-child {
    margin-bottom: 1.56vw; }


.table__buttons {
    display: flex;
    flex-direction: column; }

.table__buttons .button {
    width: 10vw;
    border-radius: 0.3125rem;
    margin-bottom: 0.52vw;
    font-size: 0.83vw;
    line-height: 0.83vw;
    padding-top: 0.89vw;
    padding-bottom: 0.89vw; }

.table__buttons .button:last-child {
    margin-bottom: 0; }


.table__influencers {
    display: flex; }


.table__influencer {
    width: 2.34vw;
    height: 2.34vw;
    background-color: #888da8;
    border: 0.1vw solid #fff;
    border-radius: 50%;
    margin-left: -1.04vw;
    display: flex;
    justify-content: center;
    align-items: center; }

.table__influencer:first-child {
    margin-left: 0; }

.table__influencer:last-child {
    background-color: #22cdbc; }


.table__influencer__number {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.83vw; }

.after-table {
    width: 100%;
    display: flex;
    justify-content: center; }


.section__pitches_line {
    margin: 2vw 5vw;
    padding-bottom: 2vw;
    border-bottom: 1px solid #e6ecf5;
    display: flex;
    flex-direction: row;
    font-size: 1.2vw;
    color: #515365;
    align-items: center; }

.section__pitches_line a {
    font-size: 1.2vw;
    color: #515365; }

.section__pitches_line span {
    display: flex; }

.section__pitches_line .table__influencers {
    padding-right: 1vw; }

.section__pitches_line .table__influencers .table__influencer:last-child {
    background-color: #888da8; }


.section__persons {
    margin: 2vw 5vw;
    height: 25vw;
    overflow: auto; }

.person_photo {
    width: 2.34vw;
    height: 2.34vw;
    background-color: #888da8;
    border: 0.1vw solid #fff;
    border-radius: 50%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }


.section_wrap_titles {
    margin-top: 0;
    background: #fff;
    width: 100%;
    border: 1px solid #e6ecf5;
    border-radius: .125rem;
    color: #515365;
    display: flex;
    flex-direction: column; }


.section_wrap_titles a {
    color: #515365;
    font-size: 1vw;
    width: auto;
    padding-left: 2vw; }


.button.button__title{
    background: transparent;
    border-radius: 0;
}
.button__title.active {
    color: #515365;
    font-weight: bold;
    background: transparent;
}
a.button__title:hover, a.button__title:active, a.button__title:focus{
    background:transparent ;
}

.button__badge {
    background-color: #22cdbc;
    width: 2vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.83vw;
    padding: 0.25vw 0.6vw;
    line-height: 1;
    margin-left: 0.5vw;
    border-radius: 3vw;
    width: 2.34vw;
    height: 2.34vw;
    border: 0.1vw solid #fff;
    border-radius: 50%;
    margin-left: 0.4vw; }


.section__titles {
    display: flex;
    flex-direction: row; }

.button {
    background-color: #505050;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 27px;
    outline: medium none;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    z-index: 10;
    font-size: 0.83vw;
}

.table__data {
    position: relative; }

.table__data .button__badge {
    position: absolute;
    font-size: 0.80vw;
    padding: 0.3vw 0.2vw;
    line-height: 1.1;
    margin-left: 0.5vw;
    border-radius: 3vw;
    width: 1.7vw;
    height: 1.7vw;
    text-align: center;
    border: 0.1vw solid #fff;
    border-radius: 50%;
    margin-left: 0.4vw;
    right: -2vw;
    top: -1vw; }


.section__persons_items span {
    font-weight: 300;
    line-height: 1; }
.section__persons_items span:hover{
    text-decoration: underline;
}

.section__persons_items .person__single {
    font-weight: 300; }


.section__list_footer {
    display: block;
    text-align: right;
    color: #515365;
    margin-bottom: 3vw;
    padding-right: 1.1vw;}

.section__list_footer .button {
    display: inline-block; padding: 10px 20px; border-radius: 0.1875rem;font-size: 0.83vw; }
.section__list_footer form{
    display: inline-block;
    vertical-align: top;

}

.section__list_content {
    padding: 1vw 0;
    font-size:0.9vw;
    font-family: 'Roboto', sans-serif;}


.section_right {
    font-size: 2vw;
    color: #515365;
    line-height: 2vw; }


.section__list_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }


.person_name {
    font-size: 1.2vw;
    color: #515365; }


.person_time_ago {
    color: #515365;
    font-size: 0.8vw;
    text-align: left; }
.person_status {
    background-color: #ff5e3a;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px;
}
.person_status.status_hired{
    background-color: #916bdf;
}
.person_status.status_in_review{
    background-color: #22cdbc;
}

.person_and_time {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-left: 1vw; }


.person_info {
    display: flex;
    flex-direction: row;
    align-items: center; }

.button.button_link{
    background: transparent;
}
.small-dialog-content, small-dialog-headline{
    padding: 0;
}
.small-dialog-content p.rv_msg{

    margin: 1vw 0;
    text-transform: uppercase;
}
.table__body .table__row p.single_text{
    margin: 0 1.8vw;
}
