.medium-padding120 {
    padding: 120px 0;
}
.woocommerce{
    background: #fff;
}
.woocomerce_page{
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    float: left;
}
.woocomerce_page h3{
    padding-bottom: 30px;
    position: relative;
    color: #515365;
    margin-bottom: 3vw;
    text-transform: none!important;
}
.woocomerce_page  h3::before {
    background-color: #ff5e3a;
    height: 2px;
    width: 10%;
}
.woocomerce_page  h3::before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
}

.woocomerce_page  h3::after {
    background-color: #e6ecf5;
    height: 1px;
    width: 100%;
}
.woocomerce_page  h3::before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
}
.woocomerce_page  h3:hover::before {
    width: 100%;
}
.woocomerce_page  .form-row {
    margin-bottom: 1.4rem;
    position: relative;
}
.woocomerce_page  .form-row .input-text{
    border: 1px solid #d8dbe6;
    border-radius: 0.25rem;
    color: #515365;
    font-size: 0.729vw;
    line-height: 0.078vw;
    padding: 1.35vw 1.04vw 0.57vw;
    width: 100%;
    z-index: 2;
    color: #515365;
    font-size: 0.875rem;
    position: relative;
}
.woocomerce_page  .form-row textarea.input-text{
    padding-top:  2vw;
}
.woocomerce_page  .form-row label {
    font-family: Roboto,sans-serif;
    pointer-events: none;
    position: absolute;
    transition: all 0.3s ease 0s;
    font-size: 11px;
    line-height: 1.07143;
    top: 5px;
    left: 8px;
    color: #888da8;
    z-index: 100;
}

.woocomerce_page table.shop_table tr td,
.woocomerce_page table.shop_table tr td.product-total,
.woocomerce_page  table.shop_table th {
    font-family: Roboto,sans-serif;
    background: transparent;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #e6ecf5;
    border-color: #e6ecf5!important;
    border-top: none;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 25px;
    vertical-align: middle;
    color: #888da8 ;
    font-weight: 400;
}
.woocomerce_page table.shop_table tr td strong{
    color: #888da8 ;
}
.woocomerce_page .form-row #place_order{
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    border-radius: 0.3rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 1rem 6rem;
    background-color: #7c5ac2;
}
.clear{
    clear: both;
}
.woocomerce_page .wc_payment_methods  label,
.woocomerce_page .payment_box.payment_method_bacs p,
.woocomerce_page .payment_box.payment_method_paypal p{
    padding-left: 25px;
    cursor: pointer;
    color: #888da8;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 0.812rem;
    font-weight: normal;
    line-height: 1.5;
}
.woocomerce_page .woocommerce-additional-fields h3,
.woocomerce_page .woocommerce-billing-fields h3{
    text-transform: capitalize!important;
}
.woocomerce_page .wc_payment_methods  label a{
    cursor: pointer;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 0.812rem;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li input[type="radio"],
.woocomerce_page .wc_payment_methods.payment_methods.methods li input#payment_method_paypal{
    display: none;
}

.woocomerce_page .wc_payment_methods.payment_methods.methods li span {
    display: block;
    left: 10px;
    position: absolute;
    top: 0;
    transition-duration: 0.2s;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li .circle {
    border: 1px solid #dde0e9;
    border-radius: 100%;
    height: 18px;
    width: 18px;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li label .check {
    background-color: #ff5e3a;
    border-radius: 100%;
    height: 18px;
    transform: scale3d(0, 0, 0);
    width: 18px;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li label span {
    display: block;
    left: 10px;
    position: absolute;
    top: 0;
    transition-duration: 0.2s;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li label{
    position: relative;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li label span {
    left: 0;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li label input[type="radio"]:checked ~ .circle {
    border-color: #ff5e3a;
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li label input[type="radio"]:checked ~ .check,
.woocomerce_page .wc_payment_methods.payment_methods.methods li label input[type="radio"]:checked ~ .circle {
    opacity: 1;
}

.woocomerce_page .wc_payment_methods.payment_methods.methods li label .check::after {
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 100%;
    content: "";
    display: block;
    height: 50px;
    left: -18px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: -18px;
    transform: scale3d(1.5, 1.5, 1);
    width: 50px;
    z-index: 1;
}

.woocomerce_page .wc_payment_methods.payment_methods.methods li label input[type="radio"]:checked ~ .check {
    transform: scale3d(0.45, 0.45, 1);
}
.woocomerce_page .wc_payment_methods.payment_methods.methods li label input[type="radio"]:checked ~ .check {
    background-color: #ff5e3a;
}
.woocomerce_page  .select2-container--default .select2-selection{
    border: 1px solid #d8dbe6;
    border-radius: 0.25rem;
    color: #515365;
    font-size: 0.875rem;
    line-height: 0.078vw;
    padding: 1.35vw 1.04vw 0.57vw;
    width: 100%;
    z-index: 2;
    position: relative;
    height: auto;
}
.button_summary{
    justify-content: space-between;
    margin-bottom: 3vw;
    margin-top: 3vw;
    display: flex;
    padding: 0 1vw;
}
.button_summary .button {
    font-size: 1.04vw;
    width: 27vw;
}
