.profile__button:before, .table__data:before, [class*=icon_]:before {
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=icon_]:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400
}

.profile__brandname, .profile__link__a {
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.section_profile {
    margin-left: .0625rem
}

.profile__background {
    width: 100%;
    height: 13.54vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative
}

.profile__background__gradient {
    width: 100%;
    height: 13.54vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #e9e9e9;
    background: linear-gradient(to bottom, #e9e9e9 20%, #929292 100%)
}

.profile__action {
    padding-top: 2.68vw;
    padding-bottom: 2.94vw;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-align: baseline;
    align-items: baseline
}

.profile__links {
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 100%
}

.profile__link {
    margin-left: 5.2%
}

.profile__link:first-child {
    margin-left: 0
}

.profile__link__a {
    color: #9a9fbf;
    font-size: 1.14vw
}

.profile__link__a :active, .profile__link__a:hover {
    color: #515365
}

.profile__link_brand {
    margin-left: 6%;
    margin-right: .5%
}

.profile__brandname {
    color: #515365;
    font-size: 1.77vw
}

.profile__image_circle {
    border-radius: 50%;
    position: relative;
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.profile__image_circle:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    color: #fff
}

.table__data, .table__text {
    font-family: Roboto, sans-serif;
    color: #9a9fbf;
    font-weight: 400
}

.profile__image_circle {
    width: 10.4vw;
    height: 10.4vw;
    border: 5px solid #fff;
    background-color: #3f4257;
    margin-bottom: -1.82vw
}

.profile__button_add:before {
    content: '\0079';
    font-size: 2.55vw
}

.profile__button_message {
    width: 4.16vw;
    height: 4.16vw;
    background-color: #916bdf;
    margin-left: 9%;
    margin-bottom: -1.3vw
}

.profile__button_message:before {
    content: '\0063';
    font-size: 1.97vw
}

.profile__button_settings {
    width: 4.16vw;
    height: 4.16vw;
    background-color: #ff5e3a;
    margin-left: 1.9%;
    margin-bottom: -1.3vw
}

.profile__button_settings:before {
    content: '\0031';
    font-size: 1.46vw
}

.content {
    padding: 3.125vw 4.16vw
}

.profile__action {
    padding-left: 0
}
.profile__image_circle {
    margin-left: 43.5%;
}
.profile__links {
    -ms-flex-pack: center;
    justify-content: center
}

.profile__button_add {
    margin-left: 43.5%
}

.section_campaigns .section__container {
    padding-top: 1.19vw;
    padding-bottom: 1.35vw
}

.table__header {
    padding-bottom: 1.04vw
}

.table__head {
    border-bottom: 2px solid #ebf0f7;
    text-align: left
}

.table__row {
    display: -ms-flexbox;
    display: flex
}

.table__text {
    text-transform: uppercase;
    font-size: .7vw
}

.table__header:first-child {
    width: 10.6vw;
    margin-left: 1.8vw
}

.table__header:nth-child(2) {
    width: 8.33vw;
    margin-left: 7.5vw
}

.table__header:nth-child(3) {
    width: 12.23vw;
    margin-left: 6.5vw
}

.table__header:nth-child(4) {
    width: 11.71vw;
    margin-left: 3.1vw
}

.table__header:last-child {
    width: 9.37vw;
    margin-left: 3.1vw
}

.table__data {
    box-sizing: content-box;
    font-size: .83vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.table__data:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    color: #c3c6d9
}

.table__data:first-child {
    margin-left: 1.8vw;
    width: 10.6vw
}

.table__data:first-child .table__text {
    color: #515365
}

.table__data:nth-child(2) {
    width: 8.33vw;
    margin-left: 7.5vw
}

.table__data:nth-child(2):before {
    content: '\0057';
    font-size: 1.4vw
}

.table__data:nth-child(2) .table__text {
    margin-left: .52vw
}

.table__data:nth-child(3) {
    width: 12.23vw;
    margin-left: 6.5vw
}

.table__data:nth-child(3):before {
    content: '\0061';
    font-size: 1.4vw
}

.table__data:nth-child(3) .table__text {
    margin-left: .52vw
}

.table__data:nth-child(4) {
    width: 11.71vw;
    margin-left: 3.1vw
}

.table__data:nth-child(5) {
    width: 9.37vw;
    margin-left: 3.1vw
}

.table__data:last-child {
    margin-left: 3.6vw
}

.table__row_body {
    padding-top: 1.82vw;
    padding-bottom: 1.82vw;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e6ecf5
}

.table__row_body:last-child {
    margin-bottom: 1.56vw
}

.table__buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.table__buttons .button {
    width: 10vw;
    border-radius: .3125rem;
    margin-bottom: .52vw;
    font-size: .83vw;
    line-height: .83vw;
    padding-top: .89vw;
    padding-bottom: .89vw
}

.table__buttons .button:last-child {
    margin-bottom: 0
}

.table__influencers {
    display: -ms-flexbox;
    display: flex
}

.table__influencer {
    width: 2.34vw;
    height: 2.34vw;
    background-color: #888da8;
    border: .1vw solid #fff;
    border-radius: 50%;
    margin-left: -1.04vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden
}

.table__influencer:first-child {
    margin-left: 0
}

.table__influencer:last-child {
    background-color: #22cdbc
}

.table__influencer__number {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: .83vw
}

.after-table {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.table__influencer__image {
    height: 100%
}

.section_listing-view .section__container {
    padding-top: 0;
    padding-bottom: 0
}

.section__top {
    display: -ms-flexbox;
    display: flex;
    padding: 3.125vw 3.54vw;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.listing-view__description .button, .section__top .button {
    border-radius: .4375rem;
    padding-top: .729vw;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.section__top .button {
    width: 25.78vw;
    font-size: 1.19vw;
    padding-bottom: .729vw
}

.section__header {
    color: #515365;
    font-size: 2.44vw;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.listing-view__image {
    margin-bottom: 2.7vw
}

.listing-view__text {
    display: -ms-flexbox;
    display: flex;
    margin-left: 2.7vw;
    margin-right: 2.7vw;
    padding-bottom: 4.47vw;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    border-bottom: .125rem solid #e6ecf5
}

.listing-view__description {
    width: 50.98vw;
    padding-right: 3.8vw;
    border-right: .1875rem solid #e6ecf5
}

.listing-view__description .button {
    width: 25.78vw;
    font-size: 1.19vw;
    padding-bottom: .729vw
}

.listing-view__overview {
    padding-left: 2.86vw
}

.listing__view__header {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.5625vw;
    padding-top: 1.82vw
}

.company-name {
    color: #515365
}

.company-campaign {
    color: #ff5e3a
}

.listing-view__date {
    color: #888da8;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.35vw;
    margin-bottom: 2.6vw
}

.listing-view__description__text {
    line-height: 2.4vw;
    font-size: 1.55vw;
    margin-bottom: 5.73vw;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.listing-view__overview__header, .listing-view__overview__item {
    margin-bottom: 1.82vw;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.listing-view__overview__header {
    color: #515365;
    font-size: 1.5625vw;
    padding-top: 1.82vw
}

.listing-view__overview__item {
    font-size: 1.354vw
}

.listing-view__overview__item_budget {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.listing-view__overview__item_budget:before {
    margin-right: 1.04vw;
    content: '$';
    font-size: 2.34vw;
    width: 2.08vw;
    text-align: center;
    line-height: 2.3vw
}

.listing-view__overview__item-text:before, .listing-view__overview__item_date:before, .listing-view__overview__item_geo:before {
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.listing-view__overview__item_geo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.listing-view__overview__item_geo:before {
    margin-right: 1.04vw;
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    content: '\0057';
    font-size: 2.08vw;
    width: 2.08vw;
    text-align: center
}

.listing-view__overview__item_date, .spots {
    display: -ms-flexbox;
    -ms-flex-align: center
}

.listing-view__overview__item_date {
    display: flex;
    align-items: center;
    margin-bottom: 2.86vw
}

.listing-view__overview__item_date:before {
    margin-right: 1.04vw;
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    content: '\0061';
    font-size: 1.92vw;
    width: 2.08vw
}

.listing-view__overview__item-text, .spots__text {
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.spots {
    display: flex;
    align-items: center;
    margin-bottom: 2.864vw
}

.spots .table__influencer:last-child {
    background-color: #888da8;
    text-align: center
}

.spots__text {
    font-size: 1.25vw;
    margin-left: 1.3vw;
    -ms-flex-align: center;
    align-items: center
}

.listing-view__overview__item-text {
    font-size: 1.354vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start
}

.listing-view__overview__item-text:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    content: '\0038';
    margin-right: .67vw;
    font-size: 1.92vw;
    padding-top: .52vw
}

.listing-view__socials {
    margin-left: 4.16vw
}

.listing-view__social {
    margin-left: .73vw
}

.listing-view__social:first-child {
    margin-left: 0
}

.listing__view__assets {
    margin-left: 2.7vw;
    margin-right: 2.7vw;
    padding-top: 3.38vw;
    padding-bottom: 3.54vw
}

.listing-view__assets__header {
    color: #515365;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.5625vw;
    margin-bottom: 2.08vw
}

.assets {
    margin-left: -.39vw;
    display: -ms-flexbox;
    display: flex
}

.asset {
    display: block;
    width: 19.375vw;
    height: 19.375vw;
    border-radius: .25rem;
    background-color: #9a9fbf;
    margin-left: .39vw;
    margin-right: .39vw
}
.job_filters_links a, a.button.gray.app-link.opened, .resume-manager-add-row, .upload-btn, .load_more_resumes, button, .button, a.vc_inline-link, a.post-edit-link, input[type="button"], input[type="submit"], a.button {
    background-color: #505050;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    outline: medium none;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    z-index: 10;
}
.job-manager-applications-applied-notice{
    font-size: 1.19vw;
    padding: 0.729vw;
    width: 25.78vw;
    color: #ff5e3a;
    border: 1px solid #ff5e3a;

}
