.video__play-button:before, [class*=icon_]:before {
	font-family: Traverse;
	font-style: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.photo, .video, .youtube {
	overflow: hidden
}

@font-face {
	font-family: Traverse;
	src: url(../fonts/Traverse.eot);
	src: url(../fonts/Traverse.eot?#iefix) format("embedded-opentype"), url(../fonts/Traverse.woff) format("woff"), url(../fonts/Traverse.ttf) format("truetype"), url(../fonts/Traverse.svg#Traverse) format("svg");
	font-weight: 400;
	font-style: normal
}

[class*=icon_]:before {
	display: inline-block;
	font-weight: 400
}

.profile__data___name, .profile__data__geo {
	color: #fff;
	font-family: Roboto, sans-serif;
	font-weight: 400
}

.profile__background {
	height: 8.33vw;
	background-color: #ff5e3a
}

.profile__button_add {
	margin-left: 7.78vw;
	width: 9.8vw;
	height: 9.8vw;
	margin-bottom: -3.02vw
}

.profile__data {
	margin-left: 2.34vw;
	margin-bottom: 1.2vw
}

.profile__data___name {
	font-size: 1.67vw
}

.profile__data__geo {
	font-size: .9375vw
}

.profile__button_favourite {
	margin-left: 7.03vw;
	background-color: #ffa93a;
	width: 4.16vw;
	height: 4.16vw;
	margin-bottom: -1.3vw
}

.profile__button_favourite:before {
	content: '\0035';
	font-size: 1.82vw
}

.profile__button_message {
	margin-left: 1.82vw
}

.profile__action {
	padding: 2.8125vw 0
}

.profile__links {
	margin-left: 24vw
}

.profile__link {
	margin-left: 6vw
}

.profile__link:first-child {
	margin-left: 0
}

.section__video .section__container {
	display: -ms-flexbox;
	display: flex;
	padding-left: 1.77vw;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 1.92vw
}

.section__container__header {
	color: #515365;
	font-size: 1.04vw;
	padding-top: 1.7vw;
	padding-bottom: 1.7vw
}

.button__more {
	margin-left: auto;
	border-left: 1px solid #e6ecf5;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 5.2vw;
	height: 5.2vw;
	padding-top: 0;
	padding-bottom: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	transition: .6s
}

.button__more .button__svg {
	fill: rgba(154, 159, 191, .6);
	transition: .6s
}

.button__svg_video, .video__play-button {
	position: absolute;
	transition: .4s;
	opacity: 0
}

.button__more:hover {
	background-color: #ff5e3a;
	border-left-color: #ff5e3a
}

.button__more:hover .button__svg {
	fill: #fff
}

.videos {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.video {
	border-radius: .3125rem;
	border: 1px solid #e6ecf5;
	margin-bottom: .73vw
}

.video__description {
	background-color: #FFF;
	padding: 1.82vw
}

.video__description__name {
	color: #515365;
	font-size: 1.04vw;
	margin-bottom: .5vw
}

.video__description__time {
	font-size: .88vw
}

.button__svg_video {
	fill: #fff;
	top: 1.82vw;
	right: 1.82vw
}

.video__play-button {
	border-radius: 50%;
	border: 5px solid #fff;
	background-color: #ff5e3a;
	width: 4.6875vw;
	height: 4.6875vw;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-left: -2.34375vw;
	margin-top: -2.34375vw;
	left: 50%;
	top: 50%;
	z-index: 1
}

.video__play-button:before {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	content: '\0078';
	font-size: 1.35vw
}

.video__image {
	width: 100%;
	height: 100%
}

.video__thumbnail {
	background-color: #9a9fbf;
	position: relative
}

.video__thumbnail:before, .video__thumbnail:hover:before {
	position: absolute;
	background-color: #000;
	height: 100%;
	width: 100%;
	content: ''
}

.video__thumbnail:before {
	opacity: 0;
	transition: .6s
}

.video__thumbnail:hover {
	cursor: pointer
}

.video__thumbnail:hover:before {
	opacity: .6
}

.video__thumbnail:hover .button__svg_video, .video__thumbnail:hover .video__play-button {
	opacity: 1
}

.wrapper_youtube {
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.youtube {
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.youtube img {
	width: 100%;
	top: -16.82%;
	left: 0;
	opacity: .7
}

.youtube img .play-button, .youtube img img {
	cursor: pointer
}

.youtube img iframe, .youtube img img {
	position: absolute
}

.youtube img .play-button, .youtube img .play-button:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0)
}

.youtube img iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0
}

.section_overview .section__container {
	padding-top: 0
}

.section_overview .section__top {
	padding: 2.34vw 2.9vw 1.82vw;
	display: -ms-flexbox;
	display: flex;
	border: .125rem solid #e9eff6;
	-ms-flex-align: center;
	align-items: center
}

.section_overview .section__body {
	padding: 2.86vw;
	display: -ms-flexbox;
	display: flex
}

.section__left {
	width: 38.02vw
}

.section__right {
	width: 27.43vw;
	margin-left: 4.16vw
}

.section__header {
	color: #515365;
	font-size: 1.5625vw;
	font-family: Roboto, sans-serif;
	font-weight: 400
}

.influencer__tags {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 3.38vw
}

.influencer__tag {
	font-size: .41vw;
	text-transform: uppercase;
	color: #fff;
	padding: .52vw;
	min-width: 4.94vw;
	text-align: center;
	border-radius: .1875rem;
	position: relative;
	margin-left: 1.35vw;
	font-family: Roboto, sans-serif;
	font-weight: 400
}

.section__block__header, .section__block__text {
	font-weight: 400;
	font-size: 1.46vw;
	font-family: Roboto, sans-serif
}

.influencer__tag:first-child {
	margin-left: 0
}

.influencer__tag:after {
	content: '';
	width: 0;
	height: 0;
	border-left: .26vw solid transparent;
	border-right: .26vw solid transparent;
	border-top: .26vw solid;
	position: absolute;
	left: 50%;
	bottom: -.26vw;
	margin-left: -.26vw
}

.influencer__tag_grey {
	background-color: #3f4257
}

.influencer__tag_grey:after {
	border-top-color: #3f4257
}

.influencer__tag_orange {
	background-color: #ff5e3a
}

.influencer__tag_orange:after {
	border-top-color: #ff5e3a
}

.influencer__tag_blue {
	background-color: #05a4e6
}

.influencer__tag_blue:after {
	border-top-color: #05a4e6
}

.influencer__tag_green {
	background-color: #08ddc1
}

.influencer__tag_green:after {
	border-top-color: #08ddc1
}

.section__block {
	margin-bottom: 3.64vw
}

.section__block__header {
	color: #515365
}

.section__block__text {
	line-height: 2.44vw
}

.section__block_audiences {
	margin-bottom: 6.05vw
}

.section__block__text_media {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.section__block__text_media i:before {
	margin-right: 1.35vw;
	width: 1.62vw;
	height: 1.62vw;
	color: #000;
}


.video {
	width: 26.88vw;
	margin-top: 1.82vw
}

.video__thumbnail {
	height: 16.5625vw
}

.photos {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -.208vw;
	margin-top: 2.6vw
}

.photo {
	border-radius: .1875rem;
	background-color: #9a9fbf;
	width: 8.69vw;
	height: 8.69vw;
	position: relative;
	margin: .208vw
}

.photo:first-child, .photo:nth-child(2) {
	width: 13.235vw;
	height: 13.235vw
}

.photo__more__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ff5e3a;
	opacity: .95;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.photo__more__text {
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 1.66vw;
	color: #fff
}