a, a:hover {
    text-decoration: none
}

.button:hover, .checkbox:hover, a.button:hover, a:hover, button:hover {
    cursor: pointer
}

.icon-list li, .profile__links, ul {
    list-style-type: none
}

.profile__button:before, [class*=icon_]:before {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: Traverse;
    src: url(../fonts/Traverse.eot);
    src: url(../fonts/Traverse.eot?#iefix) format("embedded-opentype"), url(../fonts/Traverse.woff) format("woff"), url(../fonts/Traverse.ttf) format("truetype"), url(../fonts/Traverse.svg#Traverse) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=icon_]:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    line-height: 1
}

* {
    box-sizing: border-box
}

body {
    background-color: #edf2f6
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.wrapper {
    display: -ms-flexbox;
    display: flex
}

a, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #9a9fbf
}

a {
    font-size: 1rem
}

a:active, button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus {
    outline: 0
}

a:hover {
    color: inherit
}

ul {
    padding-left: 0;
    margin: 0
}

input, textarea {
    -webkit-font-smoothing: antialiased;
    outline: 0
}

textarea {
    resize: none
}

button {
    -webkit-font-smoothing: antialiased
}

button::-moz-focus-inner {
    border: 0
}

.content {
    padding-top: 1.56vw;
    padding-left: 1.82vw;
    padding-right: 1.82vw
}

.input__block {
    position: relative;
    margin-bottom: 1.25rem
}

.form__input__label {
    position: absolute;
    z-index: 2;
    left: 1.04vw;
    top: 0;
    color: #888da8;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: .72vw;
    line-height: 1.25vw;
    transform: translateY(.78125vw);
    transition: .4s
}

.checkbox__label, .form__input {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.form__input:focus {
    border-color: #ff5e3a
}

.form__input.has-value+.form__input__label, .form__input:focus+.form__input__label {
    transform: translateY(.3125vw);
    font-size: .52vw
}

.form__input {
    padding: 1.35vw 1.04vw .57vw;
    color: #515365;
    width: 100%;
    font-size: .729vw;
    line-height: .078vw;
    z-index: 2;
    border: 1px solid #d8dbe6;
    border-radius: .25rem
}

.checkbox__block {
    display: -ms-flexbox;
    display: flex
}

.checkbox__label {
    font-size: .68vw;
    color: #9a9fbf;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 1.28vw;
    margin-left: 1.87vw;
    height: 1vw
}

.checkbox__label:before {
    position: absolute;
    left: 0;
    top: 0;
    content: url(../img/check.png);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: .9375vw;
    height: .9375vw;
    border: 1px solid #d8dbe6;
    border-radius: 3px;
    transition: .4s;
    box-sizing: border-box
}

.header, .logo, .search {
    height: 5.2vw
}

.checkbox:first-child .checkbox__label {
    margin-left: 0
}

.form__checkbox {
    display: none
}

.form__checkbox:checked+label.checkbox__label:before {
    background-color: #ff5e3a;
    border-color: #ff5e3a
}

.form__checkbox:disabled+label.checkbox__label:before {
    content: '';
    background-color: #d7d9e5;
    border-color: #d7d9e5
}

.section__container {
    background: #fff;
    width: 100%;
    border: 1px solid #e6ecf5;
    border-radius: .125rem;
    padding-top: 3.86vw;
    padding-bottom: 4.96vw
}

.section {
    margin-bottom: 2.08vw
}

.button, a.button {
    display: block;
    text-align: center;
    width: 13.54vw;
    padding-top: 1.09vw;
    padding-bottom: 1.09vw;
    font-size: .9vw;
    color: #fff;
    border-radius: .1875rem;
    border: none;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.button_white, a.button_white {
    color: #888da8;
    border: 1px solid #e8e9f0
}

.button_white:hover, a.button_white:hover {
    color: #888da8
}

.button_orange, a.button_orange {
    color: #fff;
    background-color: #ff5e3a
}

.button_orange:hover, a.button_orange:hover {
    color: #fff
}

.button_green, a.button_green {
    background-color: #08ddc1;
    color: #fff
}

.button_green:hover, a.button_green:hover {
    color: #fff
}

.button_grey, a.button_grey {
    background-color: #9a9fbf;
    color: #fff
}

.button_grey:hover, a.button_grey:hover {
    color: #fff
}

.button_blue, a.button_blue {
    color: #fff;
    background-color: #38a9ff
}

.button_blue:hover, a.button_blue:hover {
    color: #fff
}

.main {
    width: 100%
}

@media only screen and (min-width:768px) {
    .container {
        width: 768px
    }
}

@media only screen and (min-width:1060px) {
    .container {
        width: 1040px
    }
}

@media only screen and (min-width:1180px) {
    .container {
        width: 1140px
    }
}

@media only screen and (min-width:768px) {
    .footer-container, .header-container {
        margin: 0 auto;
        width: 38.75rem
    }
}

@media only screen and (min-width:1060px) {
    .footer-container, .header-container {
        width: 996px
    }
}

@media only screen and (min-width:1180px) {
    .footer-container, .header-container {
        width: 1180px
    }
}

.header-container {
    position: absolute;
    width: 100%;
    z-index: 2
}

.container, .footer-container, .header-container {
    margin: 0 auto
}

.header {
    width: 100%;
    padding-right: 4.5%;
    background-color: #05a4e6;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 5.2vw
}

.icons, .logo {
    display: -ms-flexbox
}

.logo {
    background-color: #000;
    width: 5.2vw;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.icons, .profile {
    -ms-flex-align: center
}

.logo__text {
    color: #05a4e6;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 4.79vw;
    line-height: 5.2vw
}

.page__name {
    font-size: 1.04vw;
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    margin-left: 2%
}

.header__link, .search {
    font-size: .88vw;
    color: #fff;
    font-family: Roboto, sans-serif
}

.search__block {
    margin-left: 7.5%;
    width: 36%
}

.search {
    font-weight: 400;
    background-color: #037cae;
    width: 100%;
    border: none;
    padding-left: 5%
}

.search::-webkit-input-placeholder {
    color: #fff
}

.search::-moz-placeholder {
    color: #fff
}

.search:-moz-placeholder {
    color: #fff
}

.search:-ms-input-placeholder {
    color: #fff
}

.header__link {
    font-weight: 500;
    margin-left: 3.6%
}

.icons {
    margin-left: 5.5%;
    display: flex;
    align-items: center
}

.icon__block {
    position: relative;
    margin-left: 2.34vw
}

.icon__block:first-child {
    margin-left: 0
}

.icon__number {
    width: 1.56vw;
    height: 1.56vw;
    border-radius: 50%;
    position: absolute;
    right: -.78vw;
    top: -.78vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .729vw;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: normal
}

.icon__number_purple {
    background-color: #916bdf
}

.icon__number_orange {
    background-color: #ff5e3a
}

.icon_chat {
    width: 1.61vw;
    height: 1.51vw
}

.icon_chat:before {
    content: '\0063';
    font-size: 1.92vw;
    color: #fff;
}

.icon_notifications {
    width: 1.09vw;
    height: 1.45vw
}

.icon_notifications:before {
    content: '\0038';
    font-size: 1.45vw;
    color: #fff;
}

.profile {
    margin-left: 5.2%;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

.profile__logo {
    border-radius: 50%;
    width: 2.6vw;
    height: 2.6vw;
    position: relative;
    overflow: hidden;
}
.profile__name .logout {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    display: block;
    padding: 15px 20px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
    z-index: 5;
    display: none;
    position: absolute;
    right: -2.1875rem;
    top: 100%;
}
.profile__name .logout a{
    color: #000;
}
.profile__name:hover .logout {
    display: block;
}
.profile__image {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.profile__backup__logo {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

.profile__name {
    font-size: .88vw;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: .67vw;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff
}

.profile__name:after {
    content: url(../../img/down.png);
    width: .46vw;
    height: .36vw;
    position: absolute;
    top: -.2vw;
    right: -1.82vw
}

.sidebar {
    width: 5.2vw;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFF;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: -5.2vw;
    z-index: 999
}

.icon-list {
    width: 5.2vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2.87vw
}

.icon-list li {
    margin-bottom: 2.86vw
}

.icon-list__element .icon {
    color: #9a9fbf;
    font-size: 1.35vw
}

.icon-list__element .icon :active, .icon-list__element .icon:hover {
    color: #ff5e3a;
    cursor: pointer
}

.icon_menu:before {
    content: '\0073'
}

.icon_newsfeed {
    font-size: 1.45vw
}

.icon_newsfeed:before {
    content: '\0076'
}

.icon_calendar {
    font-size: 1.61vw
}

.icon_calendar:before {
    content: '\0061'
}

.icon_friends {
    font-size: 1.82vw
}

.icon_friends:before {
    content: '\006c'
}

.icon_widgets {
    font-size: 1.67vw
}

.icon_widgets:before {
    content: '\0072'
}

.section_profile {
    margin-left: .0625rem
}

.profile__background {
    width: 100%;
    height: 13.54vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative
}

.profile__background__gradient {
    width: 100%;
    height: 13.54vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #e9e9e9;
    background: linear-gradient(to bottom, #e9e9e9 20%, #929292 100%)
}

.profile__action {
    padding-top: 2.68vw;
    padding-bottom: 2.94vw;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-left: 7.69%
}

.profile__links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 100%
}

.profile__link {
    margin-left: 5.2%
}

.profile__link:first-child {
    margin-left: 0
}

.profile__link__a {
    color: #9a9fbf;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.14vw
}

.profile__link__a :active, .profile__link__a:hover {
    color: #515365
}

.profile__link_brand {
    margin-left: 6%;
    margin-right: .5%
}

.profile__brandname {
    color: #515365;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.77vw
}

.profile__button {
    border-radius: 50%;
    position: relative;
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}
.profile__button:hover{
    text-decoration: none;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
}

.profile__button:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    line-height: 1;
    color: #fff
}

.profile__button_add {
    width: 10.4vw;
    height: 10.4vw;
    border: 5px solid #fff;
    background-color: #3f4257;
    margin-left: 45.5%;
    margin-bottom: -1.82vw
}

/*.profile__button_add:before {
    content: '\0079';
    font-size: 2.55vw
}/*/

.profile__button_message {
    width: 4.16vw;
    height: 4.16vw;
    background-color: #916bdf;
    margin-left: 9%;
    margin-bottom: -1.3vw
}

.profile__button_message:before {
    content: '\0063';
    font-size: 1.97vw
}

.profile__button_settings {
    width: 4.16vw;
    height: 4.16vw;
    background-color: #ff5e3a;
    margin-left: 1.9%;
    margin-bottom: -1.3vw
}

.profile__button_settings:before {
    content: '\0031';
    font-size: 1.46vw
}
footer{
    padding: 7vw 0;
    background: #ff5e3a;
    width: 100%;
}
.post-footer{
    width: 100%;
    background: transparent;
    padding: 1vw 0;
    color: #808080;
}
#menu-main_footer li.menu-item{
    display: inline-block;
    padding: 2px 5px;
    margin-left: 20px;
}
#menu-main_footer li.menu-item:first-child{
    margin-left: 0;
}
#menu-main_footer li.menu-item a{
    color: #fff;
    font-weight: bold;
}