a,
a:hover {
    text-decoration: none
}

.button:hover,
.checkbox:hover,
a:hover,
button:hover {
    cursor: pointer
}

.icon-list li,
.profile__links,
ul {
    list-style-type: none
}

.profile__button:before,
[class*=icon_]:before {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: Traverse;
    src: url(fonts/Traverse.eot);
    src: url(fonts/Traverse.eot?#iefix) format("embedded-opentype"),
    url(fonts/Traverse.woff) format("woff"),
    url(fonts/Traverse.ttf) format("truetype"),
    url(fonts/Traverse.svg#Traverse) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=icon_]:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    line-height: 1
}

* {
    box-sizing: border-box
}

body {
    background-color: #edf2f6!important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.wrapper {
    display: -ms-flexbox;
    display: flex
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #9a9fbf
}

a {
    font-size: 1rem
}

a:active,
button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: 0
}

a:hover {
    color: inherit
}

ul {
    padding-left: 0;
    margin: 0
}

input,
textarea {
    -webkit-font-smoothing: antialiased;
    outline: 0
}

textarea {
    resize: none
}

button {
    -webkit-font-smoothing: antialiased
}

button::-moz-focus-inner {
    border: 0
}

.content {
    padding-top: 1.56vw;
    padding-left: 1.82vw;
    padding-right: 1.82vw
}

.input__block {
    position: relative;
    margin-bottom: 1.25rem
}

.form__input__label {
    position: absolute;
    z-index: 2;
    left: 1.04vw;
    top: 0;
    color: #888da8;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: .72vw;
    line-height: 1.25vw;
    transform: translateY(.78125vw);
    transition: .4s
}

.checkbox__label,
.form__input {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.form__input:focus {
    border-color: #ff5e3a
}

.form__input.has-value+.form__input__label,
.form__input:focus+.form__input__label {
    transform: translateY(.3125vw);
    font-size: .52vw
}

.form__input {
    padding: 1.35vw 1.04vw .57vw;
    color: #515365;
    width: 100%;
    font-size: .729vw;
    line-height: .078vw;
    z-index: 2;
    border: 1px solid #d8dbe6;
    border-radius: .25rem
}

.checkbox__block {
    display: -ms-flexbox;
    display: flex
}

.checkbox__label {
    font-size: .68vw;
    color: #9a9fbf;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 1.28vw;
    margin-left: 1.87vw;
    height: 1vw
}

.checkbox__label:before {
    position: absolute;
    left: 0;
    top: 0;
    content: url(../img/check.png);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: .9375vw;
    height: .9375vw;
    border: 1px solid #d8dbe6;
    border-radius: 3px;
    transition: .4s;
    box-sizing: border-box
}

.checkbox:first-child .checkbox__label {
    margin-left: 0
}

.form__checkbox {
    display: none
}

.form__checkbox:checked+label.checkbox__label:before {
    background-color: #ff5e3a;
    border-color: #ff5e3a
}

.form__checkbox:disabled+label.checkbox__label:before {
    content: '';
    background-color: #d7d9e5;
    border-color: #d7d9e5
}

.section__container {
    background: #fff;
    width: 100%;
    border: 1px solid #e6ecf5;
    border-radius: .125rem;
    padding-top: 3.86vw;
    padding-bottom: 4.96vw
}

.section {
    margin-bottom: 2.08vw
}

.button {
    display: block;
    text-align: center;
    width: 13.54vw;
    padding-top: 1.09vw;
    padding-bottom: 1.09vw;
    font-size: .72vw;
    color: #fff;
    border-radius: .1875rem;
    border: none;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.button.button_white {
    color: #888da8;
    border: 1px solid #e8e9f0;
    background-color: #fff;
}

.button.button_orange {
    color: #fff;
    background-color: #ff5e3a
}

.button.button_green {
    background-color: #08ddc1
}

.button.button_grey {
    background-color: #9a9fbf;
    color: #fff
}

.button.button_blue {
    color: #fff;
    background-color: #38a9ff
}

.main {
    width: 100%
}

@media only screen and (min-width:768px) {
    .container {
        width: 768px
    }
}

@media only screen and (min-width:1060px) {
    .container {
        width: 1040px
    }
}

@media only screen and (min-width:1180px) {
    .container {
        width: 1140px
    }
}

@media only screen and (min-width:768px) {
    .footer-container,
    .header-container {
        margin: 0 auto;
        width: 38.75rem
    }
}

@media only screen and (min-width:1060px) {
    .footer-container,
    .header-container {
        width: 996px
    }
}

@media only screen and (min-width:1180px) {
    .footer-container,
    .header-container {
        width: 1180px
    }
}

.header-container {
    position: absolute;
    width: 100%;
    z-index: 2
}

.container,
.footer-container,
.header-container {
    margin: 0 auto
}

.header {
    width: 100%;
    padding-right: 4.5%;
    background-color: #05a4e6;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    height: 6.25rem;
    -ms-flex-align: center;
    align-items: center
}

.icons,
.logo {
    display: -ms-flexbox
}

.logo {
    background-color: #000;
    width: 6.25rem;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.icons,
.profile {
    -ms-flex-align: center
}

.logo__text {
    color: #05a4e6;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 5.75rem;
    line-height: 6.25rem
}

.page__name {
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    margin-left: 2%
}

.header__link,
.search {
    font-size: 1.0625rem;
    color: #fff;
    font-family: Roboto, sans-serif
}

.search__block {
    margin-left: 7.5%;
    width: 36%
}

.search {
    font-weight: 400;
    background-color: #037cae;
    height: 6.25rem;
    width: 100%;
    border: none;
    padding-left: 5%
}

.search::-webkit-input-placeholder {
    color: #fff
}

.search::-moz-placeholder {
    color: #fff
}

.search:-moz-placeholder {
    color: #fff
}

.search:-ms-input-placeholder {
    color: #fff
}

.header__link {
    font-weight: 500;
    margin-left: 3.6%
}

.icons {
    margin-left: 5.5%;
    display: flex;
    align-items: center
}

.icon__block {
    position: relative;
    margin-left: 2.8125rem
}

.icon__block:first-child {
    margin-left: 0
}

.icon__number {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: normal
}

.icon__number_purple {
    background-color: #916bdf
}

.icon__number_orange {
    background-color: #ff5e3a
}

.icon_chat {
    width: 1.9375rem;
    height: 1.8125rem
}

.icon_chat:before {
    content: '\0063';
    font-size: 2.3125rem
}

.icon_notifications {
    width: 1.3125rem;
    height: 1.75rem
}

.icon_notifications:before {
    content: '\0038';
    font-size: 1.75rem
}

.profile {
    margin-left: 5.2%;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

.profile__logo {
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    position: relative;
    overflow: hidden;
}
.profile__name .logout {
    display: none;
    position: absolute;
    right: -2.1875rem;
    top: 100%;
    background: #000;
}
.profile__name .logout a{
    color: #fff;
}
.profile__name:hover .logout {
    display: block;
}
.profile__image {
    position: relative;
    z-index: 2;
    width: 100%
}

.profile__backup__logo {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

.profile__name {
    font-size: 1.0625rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: .8125rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff
}

.profile__name:after {
    content: url(../img/down.png);
    width: .5625rem;
    height: .4375rem;
    position: absolute;
    top: -.25rem;
    right: -2.1875rem
}

.sidebar {
    width: 5.2vw;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFF;
    -ms-flex-align: stretch;
    align-items: stretch
}

.icon-list {
    width: 5.2vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2.87vw
}

.icon-list li {
    margin-bottom: 2.86vw
}

.icon-list__element .icon {
    color: #9a9fbf;
    font-size: 1.35vw
}

.icon-list__element .icon:active,
.icon-list__element .icon:hover {
    color: #ff5e3a;
    cursor: pointer
}

.icon_menu:before {
    content: '\0073'
}

.icon_newsfeed {
    font-size: 1.45vw
}

.icon_newsfeed:before {
    content: '\0076'
}

.icon_calendar {
    font-size: 1.61vw
}

.icon_calendar:before {
    content: '\0061'
}

.icon_friends {
    font-size: 1.82vw
}

.icon_friends:before {
    content: '\006c'
}

.icon_widgets {
    font-size: 1.67vw
}

.icon_widgets:before {
    content: '\0072'
}

.section_profile {
    margin-left: .0625rem
}

.profile__background {
    width: 100%;
    height: 13.54vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative
}

.profile__background__gradient {
    width: 100%;
    height: 13.54vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #e9e9e9;
    background: linear-gradient(to bottom, #e9e9e9 20%, #929292 100%)
}

.profile__action {
    padding-top: 2.68vw;
    padding-bottom: 2.94vw;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-left: 7.69%
}

.profile__links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 100%
}

.profile__link {
    margin-left: 5.2%
}

.profile__link:first-child {
    margin-left: 0
}

.profile__link__a {
    color: #9a9fbf;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.14vw
}

.profile__link__a:active,
.profile__link__a:hover {
    color: #515365
}

.profile__link_brand {
    margin-left: 6%;
    margin-right: .5%
}

.profile__brandname {
    color: #515365;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.77vw
}

.profile__button {
    border-radius: 50%;
    position: relative;
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.profile__button:before {
    display: inline-block;
    font-family: Traverse;
    font-weight: 400;
    line-height: 1;
    color: #fff
}

.profile__button_add {
    width: 10.4vw;
    height: 10.4vw;
    border: 5px solid #fff;
    background-color: #3f4257;
    margin-left: 45.5%;
    margin-bottom: -1.82vw
}

.profile__button_add:before {
    content: '\0079';
    font-size: 2.55vw
}

.profile__button_message {
    width: 4.16vw;
    height: 4.16vw;
    background-color: #916bdf;
    margin-left: 9%;
    margin-bottom: -1.3vw
}

.profile__button_message:before {
    content: '\0063';
    font-size: 1.97vw
}

.profile__button_settings {
    width: 4.16vw;
    height: 4.16vw;
    background-color: #ff5e3a;
    margin-left: 1.9%;
    margin-bottom: -1.3vw
}

.profile__button_settings:before {
    content: '\0031';
    font-size: 1.46vw
}

/* ------------------------------------------------------------------- */
/* Magnific Popup
---------------------------------------------------------------------- */

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    background: #000;
    opacity: 0.8;
}

.mfp-wrap {
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    height: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 505;
}


.mfp-content p { margin-bottom: 0; }
.mfp-content input[type="submit"] { margin-top: 25px; }
.fieldset-resume_id small { color: #999; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #aaa;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 504;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: #fff;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

.mfp-s-loading .mfp-arrow {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 506;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    right: 0px;
    top: 40px;
}

/* Close Button */
.mfp-close {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    right: 0;
    cursor: pointer !important;
    z-index: 9999;
    background: #282828;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mfp-close:before {
    content: "\f00d";
    font-size: 16px;
    top: 0;
    left: 0;
    position: relative;
}

.mfp-close:hover {
    background-color: #505050;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    font-size: 13px;
    line-height: 18px;
}

.mfp-arrow {
    opacity: 0;
    margin: 0;
    top: 50%;
    margin-top: -24px;
    padding: 0;
    position: absolute;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    background: #c0c0c0;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mfp-arrow:hover {
    background: #808080;
}

.mfp-arrow.mfp-arrow-left,
.mfp-arrow.mfp-arrow-right {
    content: "ď";
    font-family: "FontAwesome";
    font-size: 16px;
}

.mfp-arrow.mfp-arrow-right { right: 0; }

.mfp-arrow.mfp-arrow-left:before { content: "ď"; top: 1px; left: -1px; position: relative; }
.mfp-arrow.mfp-arrow-right:before { content: "ď"; top: 1px; left: 1px; position: relative; }

.mfp-content:hover .mfp-arrow {
    opacity: 1;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}

.mfp-iframe-holder .mfp-close {
    top: 0px;
}
/* Popup */
div.small-dialog {
    background: #fff;
    padding: 30px 40px 35px 40px;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing:border-box;
}

div.small-dialog h3 {
    margin-bottom: 20px;
}
.workscout-way h3 {
    display: none;
}
div.small-dialog span.line {padding-top: 7px;}

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0.001; /* Chrome opacity transition bug */
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.65;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.mfp-figure {
    line-height: 0;
}

.mfp-bottom-bar {
    margin-top: -30px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-break: break-word;
    padding-right: 36px;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}


/* Media Queries for Magnific Popup */
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {

    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0
    }

    /* The shadow behind the image */
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
}

@media all and (max-width: 800px) { .mfp-arrow {width: 70px;} }

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.85;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.chosen-container {
    -moz-user-select: none;
    display: inline-block;
    font-size: 15px;
    position: relative;
    vertical-align: middle;
}

.small-dialog-content .chosen-container {
    margin-bottom: 15px;
    width: 100%;
}

/* ------------------------------------------------------------------- */
/* Chosen Plugin
---------------------------------------------------------------------- */

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*.chosen-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #fcfcfc;
    border-top: 0;
    box-sizing: border-box;
}

.chosen-container.chosen-with-drop .chosen-drop { left: 0; }
.chosen-container a { cursor: pointer; }


/* Single Selectbox */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 18px;
    height: 47px;
    line-height: 47px;
    border: 1px solid #e0e0e0;
    background-color: #fcfcfc;
    color: #808080;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 500;
}

.chosen-container-single .chosen-default { color: #999; }

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #808080;
}

.chosen-container-single .chosen-single-with-deselect span { margin-right: 38px; }

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.chosen-container-single .chosen-single div b {
    display: block;
    position: relative;
}

.chosen-container-single .chosen-single div b:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 14px;
    margin: 0 14px 0 0;
    top: -1px;
    position: relative;
    width: 11px;
    height: 5px;
    display: inline-block;
    color: #c0c0c0;
    float: right;
    font-weight: normal;
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 6px;
    white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 6px 20px 6px 6px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    display: block;
    position: relative;
    z-index: 9;
    background-color: #fafafa;
}

.chosen-container-single .chosen-search > input[type="text"] {
    float: none;
    width: 44.5% !important
}
.search_location .chosen-container-single .chosen-search > input[type="text"],
.search-container .chosen-container-single .chosen-search > input[type="text"] {
    width: 100%  !important;

}
.chosen-container-single .chosen-search:before {
    content: "";
    font-family: "FontAwesome";
    font-size: 15px;
    margin: 0 10px 0 0;
    top: 8px;
    position: relative;
    width: 11px;
    height: 5px;
    display: inline-block;
    color: #aaa;
    float: right;
    font-weight: normal;
    z-index: 10;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* Results */
.chosen-container .chosen-results {
    color: #808080;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 8px 0;
    padding: 0 4px 0 8px;
    max-height: 232px;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 10px 10px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}

.chosen-container-multi .chosen-results li { padding: 10px 18px; }

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #505050;
    color: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.chosen-container .chosen-results li.no-results {
    color: #808080;
    display: list-item;
    background-color: #fff;
}

.chosen-container-multi .chosen-results li.no-results { background-color: #fff; }

.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}

.chosen-container .chosen-results li.group-option { padding-left: 15px; }

.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}


/* Multi Selectbox */
.chosen-container-multi .chosen-choices {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 12px 18px;
    line-height: 36px;
    border: 1px solid #e0e0e0;
    background-color: #fcfcfc;
    text-decoration: none;
    white-space: nowrap;
    line-height: 23px;
    cursor: pointer;
    margin: 0px;
}

.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 0;
    padding: 0;
    height: 24px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    color: #808080;
    line-height: normal;
    font-weight: 500;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    max-width: 100%;
    background-color: #505050;
    line-height: 29px;
    color: #FFF;
    cursor: default;
    font-weight: 500;
    padding: 0px 22px 0px 8px;
    margin: 2px 4px 2px 0px;
    top: 0;
}
.chosen-container-multi .chosen-choices li.search-choice span { word-wrap: break-word; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: -2px;
    right: 7px;
    display: block;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
    content: "";
    font-family: "FontAwesome";
    font-size: 13px;
    top: 1px;
    position: relative;
    width: 11px;
    height: 5px;
    display: inline-block;
    color: #fff;
    float: right;
    font-weight: normal;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    color: #808080;
}

.chosen-container-multi .chosen-choices li.search-choice-focus { background: #d4d4d4; }

.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}


/* Active */
.chosen-container-active .chosen-single,
.chosen-container-active .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single { border: 1px solid #e0e0e0; }

.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b:after { content: "" }
.chosen-container-active .chosen-choices li.search-field input[type="text"] { color: #808080 !important; }

.small-dialog-content textarea {
    max-width: 100%;
    min-height: 180px;
    min-width: 100%;
}

footer{
    padding: 7vw 0;
    background: #ff5e3a;
    width: 100%;
}
.post-footer{
    width: 100%;
    background: transparent;
    padding: 1vw 0;
    color: #808080;
}